
@{
    ViewData["Title"] = "Sınavlar Sayfası";
}

<div class="text-center">
    <h1 class="display-4">Sınavlar</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Başlık</th>
                <th>Tarih</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
